.wjOptionsSurrounderDesign{
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    width: 100%;
    height: 70px;
    clear: both;
	border-bottom: 1px solid black;
	z-index: 50;
}

.wjContextSurrounderDesign{
    float: left;
    width: 100%;
    height: 100%;
    clear: both;
}

.wjOptionsSurrounderFilterDesign{
	width: 200px;
    height: 100%;
    float: left;
    font-size: 25pt;
    text-align: center;
}

.wjOptionsMonthListDesign{
	font-size: 20pt;
    margin: 15pt 0 0 0;
    border: none;
    background-color: transparent;
    color: white;
}

.wjOptionsMonthListDesign > option{
    background-color: rgba(0, 0, 0, 0.5);
}

.wjOptionsSurrounderContentDesign{
	width: calc(100% - 200px);
	height: 100%;
	float: left;
	overflow: overlay;
}

.wjOptionsJournalDesign{
	color: white;
    float: right;
    font-size: 20pt;
	padding: 14pt 20pt;
	border-left: 2px dotted black;
    border-right: 2px dotted black;
	cursor: pointer;
}

.wjOptionsJournalDesign:hover{
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

.wjOptionsJournalSelectedDesign{
	background-color: rgba(255, 255, 255, 0.2);
}

.wjContextSurrounderTitleDesign{
    margin: 30px 30px;
    font-size: 30pt;
    text-decoration: underline;
    color: white;
    clear: both;
	float: left;
	background: transparent;
	border: none;
}

.wjContextSurrounderTasksDesign{
	width: 905px;
	height: 542px;
	float: left;
	clear: both;
    margin: 0 0 25px 100px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.wjContextTaskContainerDesign{
	height: 500px;
    overflow: auto;
}

.wjContextTaskTitleDesign{
    width: 202px;
    height: 20px;
    float: left;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 1px 0;
    padding: 10px;
	text-align: center;
}

.wjContextTaskDesign{
	width: 220px;
	height: 50px;
	float: left;
    border: 2px solid white;
    margin: 1px;
}

.wjContextTaskTagDesign{
	width: 100%;
    height: 100%;
	border: none;
}

.wjContextTaskDesign > textarea{
	resize: none;
}

.wjContextTaskOptionsSurrounderDesign{
    width: 904px;
    clear: both;
	text-align: center;
	margin: 5px 0 0 0;
}

.wjContextTaskOptionsDesign{
	width: calc(100% - 50% - 10px - 2px);
    float: left;
    font-size: 15pt;
    border: 1px solid black;
    margin: 1px 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}

.wjContextSurrounderResponseDesign{
	float: right;
	margin: 10px 100px 0 0;
	max-height: 160px;
	clear: right;
}

.wjContextResponseTitleDesign{
	color: white;
	font-size: 15pt;
}

.wjContextTextareaDesign{
	width: 650px;
	height: 100px;
	resize: none;
}

.wjContextSurrounderExtensionsDesign{
	float: right;
	clear: right;
	margin: 20px 100px;
}

.wjContextExtensionButtonsDesign{
	width: 120px;
	padding: 7px 20px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.defaultButtonHover:hover{
	transition: 350ms;
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.wjBlackscreenInformationDesign{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	display: none;
}

.wjNewTaskQuestionerDesign{
	width: 500px;
	height: 50px;
	font-size: 15pt;
	margin: 5% 0 0 0;
	border: none;
}

.wjNewTaskQuestionerSaveDesign{
	height: 50px;
	font-size: 15pt;
	border: 1px solid grey;
	padding: 0 15px;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.wjNewTaskQuestionerSaveDesign:hover{
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid white;
	color: white;
}

.wjNewTaskQuestionerCancelDesign{
	background-color: rgba(255, 0, 0, 0.7);
	color: white;
}

.wjNewTaskQuestionerCancelDesign:hover{
	background-color: rgba(255, 0, 0, 1);
	color: white;
}

#wjStatisticsSurrounder{
	display: none;
	text-align: center;
}

.wjStatisticsTableDesign{
	color: white;
	border-color: white;
	margin: 0 auto;
}

.tableStatisticTitle{
	padding: 0 20px;
	border: 1px solid white;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.3);
}

.wjStatisticsTitleDesign{
    color: white;
    font-size: 20pt;
    text-decoration: underline;
    margin: 0 0 15px 0;
}

@media screen and (max-width: 1780px) {
	.wjContextHolderDesign{
		min-width: 100%;
		overflow-x: auto;
	}
	
	.wjContextSurrounderTasksDesign{
		text-align: center;
		clear: both;
		margin: 0 auto;
		float: none;
	}
	
	.wjContextSurrounderResponseDesign{
		float: none;
		margin: 30px 0 0 0;
		clear: both;
		text-align: center;
	}
	
	.wjContextTextareaDesign{
		width: 60%;
		margin: 0;
	}
	
	.wjContextSurrounderExtensionsDesign{
		float: none;
		text-align: center;
		clear: both;
		margin: 20px 0;
	}
	
	.jwContextDateTitleSurrounderDesign{
		text-align: center;
	}
	
	.wjContextSurrounderTitleDesign{
		margin: 30px 0;
		float: none;
		background-color: rgba(0, 0, 0, 0.4);
		border: 2px solid;
		padding: 10px;
	}
}

/* Mediascreens just for the background-image */
@media screen and (min-width: 1900px) {
	.backgroundImagerDesign{
		background-image: url(../img/backgrounds/header_viewer_large.jpg);
	}
}

@media screen and (min-width: 800px) {
	.backgroundImagerDesign{
		background-image: url(../img/backgrounds/header_viewer_middle.jpg);
	}
}

@media screen and (min-width: 0px) {
	.backgroundImagerDesign{
		background-image: url(../img/backgrounds/header_viewer_small.jpg);
	}
}

/* Finish background-image mediascreens */

@media screen and (max-width: 480px) {
	.wjOptionsJournalDesign{
		width: 100%;
		text-align: center;
	}
}


@media screen and (max-width: 415px) {
	.wjContextSurrounderTitleDesign{
		width: calc(100% - 50px);
	}
}

@media screen and (max-width: 370px) {
	.wjStatisticsTableDesign{
		font-size: 3vw;
	}
}

@media screen and (max-width: 350px) {
	.wjOptionsSurrounderDesign{
		float: left;
		width: 100%;
		height: 140px;
		clear: both;
	}
	
	.wjOptionsSurrounderFilterDesign{
		width: 100%;
		height: 70px;
		float: left;
		clear: both;
		text-align: center;
	}
	
	.wjOptionsSurrounderContentDesign{
		width: 100%;
		height: 70px;
		float: left;
		clear: both;
	}
}