/*Messageoutput START*/
.surrounderOutput{
	width: calc(100% - 4px);
	background-color: rgba(0, 0, 0, 0.75);
	border: 2px dotted orange;
}

.outputMsg{
	font-size: 15pt;
	padding: 0 2.4% 0 2.4%;
	color: #FFF;
	z-index: 9999;
}

.msgDeniedDesign, .msgAcceptDesign{
	background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: 0.5% 0 0.5% 0;
    border: 1px dashed #FFF;
	transition: 0.5s;
	cursor: pointer;
	width: 0px;
}

.msgDeniedDesign:hover, .msgAcceptDesign:hover{
	background-color: #FFF;
	color: #009621;
	border: 1px dashed rgba(0, 0, 0, 0.8);
}
/*Messageoutput END*/

/*---------------------------------------------------------------------*/

/*Custom 'Class' für Bilder

//Scale*/

.imageScaleUp{
	transform: scale(1);
    transition: 1s;
}

/*---------------------------------------------------------------------*/

@media screen and (max-width: 780px) {
	/*Messageoutput START*/
	.msgDeniedDesign, .msgAcceptDesign{
		width: 100%;
	}
	/*Messageoutput END*/
}