.loginLayout {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 8% 0 0 0; }

.loginTitle {
  text-decoration: underline;
  font-size: 20pt;
  padding: 2.5px 52px 3.5px 52px;
  background-color: rgba(255, 255, 255, 0.8);}

.styleField {
  width: 170px;
  height: 35px; }

#loginButton {
  width: 70px;
  height: 25px;
  color: #EEEEEE;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7); }

#loginButton:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #EBEBEB;
  cursor: pointer;}

.registerLayout {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 8% 0 0 0;
  display: none; }

.registerTitle {
  text-decoration: underline;
  font-size: 20pt;
  padding: 2.5px 15px 3.5px 15px;
  background-color: rgba(255, 255, 255, 0.8);}

.stylePic {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 0.2% 0.5% 0.2% 0.5%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF; }

.stylePic:hover {
  background-color: #EBEBEB;
  color: #009621; }

.surrounderSwitcher {
  margin: 4.5% 0 0 0;
  text-align: center; }

.switcher {
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 0.2% 0.5% 0.2% 0.5%;
  background-color: rgba(255, 255, 255, 0.7);}

.switcher:hover {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 0.2% 0.5% 0.2% 0.5%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);}

.surrounderOutput {
  display: none;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=style_login.css.map */
