.holderShowPic {
  float: right;
  height: 60px; }

#showPreviewPic {
  height: 100%;
  float: right;
  cursor: pointer;
  max-width: 200px; }

.showPerson {
  font-size: 25px;
  float: right;
  margin: 1.2% 1% 0 0;
  cursor: pointer; }

.myProfile {
  width: 230px;
  height: 370px;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 2% 0 0 0;
  font-size: 25px;
  text-align: center;
  display: none;
  z-index: 5;}

#outputMyMsg {
  display: none; }

.picHolder {
  width: 230px;
  height: 150px; }

.myPicture {
  clear: both;
  max-width: 100%;
  height: 100%; }

.takePic {
  width: 47%; }

.designTitle {
  clear: both; }

.changeData {
  clear: both; }

.buttonHolder {
  width: 100%; }

.submitNewMe {
  width: 70px;
  height: 25px;
  color: rgba(0, 0, 0, 1);
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  font-weight: bold;
  cursor: pointer;}

.logoutMe {
  width: 70px;
  height: 25px;
  color: rgba(0, 0, 0, 1);
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  font-weight: bold;
  cursor: pointer;}

@media screen and (max-width: 500px) {
  .myProfile {
    width: 100%;
    height: 210px;
    text-align: left;
    position: relative; }

  .picHolder {
    width: 100%;
    height: initial; }

  .myPicture {
    width: 30%;
    float: right;
    clear: right;
    max-height: 200px; }

  .designTitle {
    float: left;
    clear: left;
    margin: 2% 0 1% 0; }

  .changeData {
    float: left;
    clear: left; }

  .buttonHolder {
    width: 100%; }

  .submitNewMe {
    float: right;
    margin: 3% 0 1% 0; }

  .logoutMe {
    float: left;
    clear: left;
    margin: 3% 0 1% 0; }

  .takePic {
    float: left;
    clear: left;
    width: 115px;
    margin: 2% 0 1% 0; }

  .holderShowPic {
    float: right;
    width: 60px;
    height: 60px; }

  #showPreviewPic {
    height: 100%;
    margin: 2% 0 0 0;
	max-width: 60px; }}

@media screen and (max-width: 640px) {
  .showPerson {
    display: none; } }

/*# sourceMappingURL=style.editprofile.css.map */
