/* DEFAULT DOCUMENT INFORM */
* {
  margin: 0;
  padding: 0;
  font-family: Arial; }

html, body {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none; }

body {
  background-color: #EBEBEB;
}
  
.backgroundImagerDesign{
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: none;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	left: -7px;
	right: -7px;
	top: -7px;
	bottom: -7px;
	z-index: -2;
}

.backgroundWhiteFlaireDesign{
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: -7px;
    z-index: -1;
}

.surrounder {
  width: auto;
  max-width: 100%; }

.container {
  width: auto;
  max-width: 100%;
  margin: auto; }

header {
  padding: 2%;
  font-size: 40pt;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
}

#content {
  background-color: #FFF;
  width: 100%;
  height: auto;
  padding: 50px 0; }

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  clear: both;
}

  footer p {
    text-align: center;
    padding-top: 20px; }
  footer .designFooterlabel {
    margin: 0 0 0 50px; }
  footer .mobile-footer {
    display: none;
    text-align: left;
    padding-left: 20px;}
    footer .mobile-footer .designFooterlabel {
      margin: 0; }
  @media screen and (max-width: 480px) {
	footer{
		height: 50px;
	}
    footer .mobile-footer {
      display: block;
      margin: 18% 0 0 0;}
    footer label {
      float: left;
      clear: both; }
    footer .default-footer {
      display: none; } }

#page-wrapper {
  min-height: 100%;
  margin-bottom: -50px; 
  /* background-color: rgba(255, 255, 255, 0.2);} */
  }#page-wrapper:after {
    content: "";
    display: block; }

footer, #page-wrapper:after{
  height: 50px;}

@media screen and (max-width: 480px) {
  .headerTitle {
    font-size: 12vw;}
	
	footer, #page-wrapper:after {
	  height: 75px;}

/*# sourceMappingURL=style_normal.css.map */
